body {
  background: rgb(217,224,231);
  background: radial-gradient(circle, 
  rgba(217,224,231,1) 0%,
  rgba(112,222,173,1) 47%, 
  rgba(140,221,92,1) 82%, 
  rgba(149,174,222,1) 100%);
  overflow: hidden;
}

img {
  position: relative;
  margin: 0 auto;
  top: 35vh;
  align-items: center;
  text-align: center;
 
}

.cargando {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: 20rem auto;
  border-radius: 50%;
  color: red;
  animation: cargar 1s infinite;
}

.cargando::before {
  content: 'Cargando...';
  position: absolute;
  top: 40%;
  left: 10%;
}
@-webkit-keyframes cargar{
  
  0% {
    box-shadow: 
      0px 2px 2px 2px,
      inset 0px -2px 2px 2px ; 
  }
  25% {
    box-shadow: 
      -2px 0px 2px 2px,
      inset 2px 0px 2px 2px; 
  }
  50% {
    box-shadow: 
      0px -2px 2px 2px,
      inset 0px 2px 2px 2px; 
  }
  75% {
    box-shadow: 
      2px 0px 2px 2px,
      inset -2px 0px 2px 2px; 
  }
  100% {
    box-shadow: 
      0px 2px 2px 2px,
      inset 0px -2px 2px 2px; 
  }
}